{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Список залів</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Ігровий клуб "GameTime"</h1>
            <nav class="nav">
                <a href="/">Головна</a>
                <a href="/halls/">Зали</a>
                <a href="/booking/">Бронювання</a>
            </nav>
        </div>
    </header>
    <div class="container main-layout">
        <!-- Основний контент -->
        <main class="content">
            <article>
                <h1>Наші зали</h1>
                <ul class="halls-list2">
                    {% for hall in halls %}
                        <li class="hall-card2">
                            <a href="{% url 'hall_detail' hall.id %}">
                                <h3>{{ hall.name }}</h3>
                                {% if hall.image %}
                                    <img src="{{ hall.image.url }}" alt="{{ hall.name }}">
                                {% endif %}
                            </a>
                            <p>{{ hall.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </article>
        </main>        
</div>
</body>
</html>